<div class="container">
    <div class="jumbotron">
            <h1>Exercises</h1>
    </div>

    <div class="card">

            <div class="card-body">
              <h4 class="card-title m-0">Exercises</h4>
            </div>

            <ul class="list-group list-group-flush">
                <li *ngFor="let exercise of webService.exercises" 
                    class="list-group-item list-group-item-action"
                    (click)="addToExercisesCompleted(exercise)"
                    [ngClass]="{'active': isClicked(exercise)}">
                        {{exercise.name}}
                </li>
            </ul>
    </div>

    <div class="card">
            
        <div class="card-body">      
            <h4 class="card-title m-0">Exercises Done</h4>
        </div>
            
        <ul class="list-group list-group-flush">
            <li *ngFor="let exercise of webService.exercisesCompleted" 
                class="list-group-item list-group-item-action"
            >
                {{exercise.name}}
            </li>
        </ul>
    </div>

    <button (click)="postToServer()" type="button" class="btn btn-success">Success</button>
</div>