<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Fitness</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/exercise" routerLinkActive="active">Exercises</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </div>

      <div class="navbar-nav">

        <a *ngIf="webService.isAuthenticated" class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Welcome {{webService.name}}</a>
        <a *ngIf="!webService.isAuthenticated" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a (click)="webService.logout()" *ngIf="webService.isAuthenticated" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Logout</a>
      </div>
    </div>

  </div>
</nav>
