<div class="container">
    <div class="jumbotron">
        <h3>Fitness Tracker World Wide</h3>
    </div>

<div class="row">
    <div class="col-md-4">
            <div class="card" >
                    <img class="card-img-top" src="/assets/img/gym.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                            <h5 class="card-title">Excercise</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a routerLink="/exercise" class="btn btn-primary">Exercises</a>

    </div>

</div>
</div>
<div class="col-md-4">
    <div class="card" >
            <img class="card-img-top" src="/assets/img/diet.jpg" alt="Card image cap" height="200">
            <div class="card-body">
                <h4 class="card-title">Diet</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">-Not Implemented yet</a>
            </div>
        </div>

</div>
<div class="col-md-4">
    <div class="card" >
            <img class="card-img-top" src="/assets/img/tracker.jpg" alt="Card image cap" width="300" height="300">
            <div class="card-body">
                <h4 class="card-title">Plan</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">-Not Implemented yet</a>
            </div>
        </div>

</div>
</div>
</div>

<script>
var navProperties = {
mainNav: "_nav.html",
currentSection: "home"
};
</script>



<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="navigation.js" >
</script>

<script>
$(function(){
$("#header-placeholder").load("_header.html");
});
</script>
<script src="dist/bundle.js" >
</script>
